$font-stack: 'Montserrat', sans-serif;

$primary: #2f4feb;
$grid-container-max-width: 71.5%;
$grid-row-margin: -15px;
$grid-col-padding: 15px;
$grid-xs-sm-bp: 576px;
$grid-sm-md-bp: 768px;
$grid-md-lg-bp: 992px;
$grid-lg-xl-bp: 1200px;
